<app-navbar-admin></app-navbar-admin>
<div class="container">
    <div class="row">
      <div class="col s10 m10 l5 ">
        <div class="card white white">
          <div class="card-content white">
            <form  #frmAdmin="ngForm" class="login-container " (ngSubmit)="saveDeudor(frmAdmin)">
              <h4 class="center-align">Registrar Deudor</h4>
              <div class="row">
                <div class="input-field col s11 l11" style="margin-top: 30px !important;">
                  <input type="text" maxlength="10" class="validate" id="telefono" name="telefono" placeholder="Telefono" [(ngModel)]="deudor.telefono" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                </div>
                <div class="input-field col s11 l11">
                   <input type="text" maxlength="30" class="validate" id="nombre" name="nombre" placeholder="Nombre" [(ngModel)]="deudor.nombre">
                </div>
                <div class="input-field col s11 l11">
                  <input type="password" maxlength="20" class="validate" id="pass" name="pass" placeholder="Contraseña"[(ngModel)]="deudor.pass">
                </div>
                <div class="input-field col s11 l11">
                   <input type="text" maxlength="30" class="validate" id="email" name="email" placeholder="Email" [(ngModel)]="deudor.mail">
                 </div>
                <div class="card-action">
                  <div class="input-field col s12">
  
                    <button class="btn right waves-effect" type="submit" style="background-image: linear-gradient(160deg, #f50057 0%, #c51162 100%) !important;">Registrar<i class="material-icons right">send</i></button>
                    <button class="btn  waves-effect" type="submit" style="background-image: linear-gradient(160deg, #00e5ff 0%, #00b8d4  100%) !important;" (click)="cleanForm(frmAdmin)">Limpiar<i class="material-icons right">delete</i></button>
  
                  </div>
                </div>
              </div>
            </form>
            
          </div>
        </div>

        <div class="card white">
          <div class="card-content">
            <form  #frmDeuda="ngForm" class="login-container"(ngSubmit)="saveDeuda()" >
              <h4 class="center-align">Agregar Adeudo</h4>
              <div class="row">
                <div class="input-field col s12 m6 l11">
                  <p>Concepto</p>
                  <select [(ngModel)]="deuda.concepto"  name="concepto" class="browser-default" style="outline: none;" >
                    <option *ngFor="let concepto of conceptos" [value]="concepto.concepto" >{{concepto.concepto}}</option>
                  </select>
                </div>

                <div class="input-field col s12 m6 l11"  style="margin-bottom: 50px !important;">
                  <label>
                    <input type="checkbox" class="filled-in" id="ckbAll" (click)="checkAll()"/>
                    <span>Seleccionar a todos</span>
                  </label>
                </div>

                <div class="card-action">
                  <div class="input-field col s12">
  
                    <button class="btn right cyan accent-3 waves-effect col l12 m12 s12"  type="submit"  style="background-image: linear-gradient(160deg, #f50057 0%, #c51162 100%) !important;">Agregar<i class="material-icons right">send</i></button>
  
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        
      </div>
      <table class="col l6 responsive-table centered " style="margin-left: 10px;">
          <thead>
            <tr>
              <th>Seleccionar</th>
                <th>Teléfono</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Deuda</th>
            </tr>
          </thead>
  
          <tbody *ngFor="let d of deudores">
            <tr>
              
              <td>
                <label>
                  <input type="checkbox" [attr.id]="d.telefono" ng-model="selected" class="filled-in" ng-checked="selectAll"  (click)="setTelefono(d.telefono)"/>
                  <span></span>
                </label>  
              </td>
              <td class="black-text">{{d.telefono}}</td>
              <td class="black-text">{{d.nombre}}</td>
              <td class="black-text">{{d.mail}}</td>
              <td class="black-text">{{d.adeudo}}</td>
            </tr>
          </tbody>

        </table>         
    </div>
  </div>