<div class="container">
    <div class="row">
      <div class="col s10 m10 l5 ">
        <div class="card">
          <div class="card-content">
            <form  #frmLogin="ngForm" class="login-container" (ngSubmit)="createDeudor()">
              <h4>Agregar Deudor</h4>
              <div class="row">
                <div class="input-field col s12 l11" style="margin-top: 30px !important;">
                   <i class="material-icons prefix">phone</i>
                  <input type="number" maxlength="10" class="validate" id="telefono" name="telefono" [(ngModel)]="deudor.telefono">
                  <label for="telefono">Teléfono</label>
                </div>
                <div class="input-field col s12 l11">
                    <i class="material-icons prefix">person</i>
                   <input type="text" maxlength="30" class="validate" id="name" name="name" [(ngModel)]="deudor.name">
                   <label for="name">Nombre</label>
                </div>
                <div class="input-field col s12 l11">
                   <i class="material-icons prefix">security</i>
                  <input type="password" maxlength="20" class="validate" id="pass" name="pass" [(ngModel)]="deudor.pass">
                  <label for="pass">Contraseña</label>
                 </div>
                 <div class="input-field col s12 l11">
                    <i class="material-icons prefix">attach_money</i>
                   <input type="number" maxlength="10" class="validate" id="deuda" name="deuda" [(ngModel)]="deudor.adeudo">
                   <label for="telefono">Deuda</label>
                </div>
                <div class="card-action">
                  <div class="input-field col s12">
  
                    <button class="btn right blue waves-effect" type="submit">Registrar<i class="material-icons right">send</i></button>
  
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        
      </div>
      <table class="col l5 responsive-table centered white" style="margin-left: 10px;">
          <thead>
            <tr>
                <th>Teléfono</th>
                <th>Nombre</th>
                <th>Adeudo</th>
            </tr>
          </thead>
  
          <tbody>
            <tr>
              <td>asds</td>
              <td>asds</td>
              <td>asds</td>
            </tr>
            <tr>
                <td>asds</td>
                <td>asds</td>
                <td>asds</td>
              </tr>
          </tbody>
        </table>
    </div>
  </div>