<app-navbar-admin></app-navbar-admin>

<div class="container">
    <div class="row">
      <div class="col s10 m10 l5 ">
        <div class="card">
          <div class="card-content">
            <form  #frmPagar="ngForm" class="login-container" (ngSubmit)="addPago()">
                <h4 class="center-align">Pagar</h4>
                <div class="row">
                  <div class="input-field col s12 m6 l11">
                    <h5>Referencia</h5>
                    <h6 id="rdb" class="center-align" style="color: rgb(100, 100, 100); 
                    box-shadow: 0 1px 5px rgba(10,10,10,0.12), 0 1px 2px rgba(10,10,10,0.1); padding: 10px; border-radius: 50px;" >
                    </h6>
                  </div>
                  <div class="input-field col s12 l11" style="margin-top: 30px !important;">
                      <i class="material-icons prefix">attach_money</i>
                     <input type="number" maxlength="10" class="validate" id="monto" name="monto" [(ngModel)]="pago.monto">
                     <label for="monto">Monto</label>
                   </div>
                  <div class="card-action">
                    <div class="input-field col s12">
    
                      <button class="btn right cyan accent-3 black-text waves-effect" type="submit"  style="margin-left: 5px;">Pagar<i class="material-icons right">attach_money</i></button>
    
                    </div>
                  </div>
                </div>
              </form>
         </div>
        </div>
        
      </div>
      <table class="col l6 responsive-table centered white" style="margin-left: 10px;">
          <thead>
            <tr>
                <th>Seleccionar</th>
                <th>Referencia</th>
                <th>Teléfono</th>
                <th>Concepto</th>
                <th>Estado</th>
                <th>Adeudo</th>
            </tr>
          </thead>
  
          <tbody *ngFor="let deuda of deudas">
            <tr>
              <td>
                <label>
                  <input type="radio" name="rdb" class="with-gap" (click)="setIdDeudor(deuda.referencia, deuda.id_deudor, deuda.concepto)"/>
                  <span></span>
                </label>  
              </td>
              <td>{{deuda.referencia}}</td>
              <td>{{deuda.id_deudor}}</td>
              <td>{{deuda.concepto}}</td>
              <td>{{deuda.estado}}</td>
              <td>{{deuda.debe}}</td>
            </tr>
          </tbody>
        </table>         
    </div>
  </div>
