/* You can add global styles to this file, and also import other style files */
body {
   background: #eee;
}
body::-webkit-scrollbar-track {
   background: rgba(0, 0, 0, 0.5);
}

body::-webkit-scrollbar {
   background: rgba(0, 0, 0, 0);
   width: 10px;
}

body::-webkit-scrollbar-thumb {
   background: rgba(0, 0, 0, 0.5);
}

body::-webkit-scrollbar-thumb:hover {
   background: #304ffe;
}
