<nav class="grey darken-3 navbar-fixed" style="margin-bottom: 50px !important; border-bottom: 3px solid #f50057;">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo white-text" style="margin-left: 50px !important">Control de Deudores</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="white-text" routerLink="/admin">Registrar Deudor</a></li>
      <li><a class="white-text" routerLink="/admin/deudas">Deudas</a></li>
      <li><a class="white-text" routerLink="/admin/pagos">Historial de Pagos</a></li>
      <li><a class="white-text" routerLink="/">Logout</a></li>
    </ul>
  </div>
</nav>