<nav class="navbar-fixed" style="margin-bottom: 50px !important;">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo" style="margin-left: 50px !important">Control de Deudores</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/admin">Registrar Deudor</a></li>
      <li><a routerLink="/admin/deudas">Deudas</a></li>
      <li><a routerLink="/admin/pagos">Historial de Pagos</a></li>
      <li><a routerLink="/">Salir</a></li>
    </ul>
  </div>
</nav>